<!DOCTYPE html>

<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/bower_compoents/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")

    <div class="middle">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; @DateTime.Today.Year - My ASP.NET Application
        </div>
    </footer>
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>